.article {
  transition: box-shadow 0.3s ease-in;
  margin-bottom: 20px;
}
.article .ant-card-body {
  padding: 14px 24px;
}
.article h3 {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  font-size: 17px;
}
.article .abstract {
  margin-bottom: 5px;
}
.article .tag {
  color: #999;
}
.article .tag > span {
  margin-right: 10px;
  font-size: 13px;
}
.article .content {
  color: #333;
  font-size: 15px;
}
.article .link {
  color: #108ee9;
  font-weight: 600;
  cursor: pointer;
}
.article:hover {
  box-shadow: 0 0 15px #333;
}
.Pagination {
  display: flex;
  justify-content: flex-end;
}
